.vscode
__pycache__

Dog_Cat_Classification/Datasets/train/cats/*jpg
Dog_Cat_Classification/Datasets/train/dogs/*jpg
Dog_Cat_Classification/Datasets/val/cats/*jpg
Dog_Cat_Classification/Datasets/val/dogs/*jpg
Dog_Cat_Classification/hub/checkpoints/*.pth
Dog_Cat_Classification/Log/final/*.log
Dog_Cat_Classification/Log/test/*.log
*.npy
VSRN/download
VSRN/data
VSRN/coco-caption
VSRN/cocoapi-master
VSRN/runs